$for(posts)$
<article id="mypaper" class="entry preview">
  <header class="entry-meta">
    <h1><a href="$url$">$title$</a></h1>
    <span class="entry-meta-date">Published on $date$</span>
  </header>
  <section class="entry-content">
    $if(excerpt)$
    $excerpt$
    <a href="$url$">Read more</a>.
    $else$
    $body$
    $endif$
  </section>
  <footer class="entry-meta-categories">
      Posted in: $tags$
  </footer>
</article>
$endfor$

<div class="archive-notice">
  See the <a href="/archive.html">archive</a> for older posts.
</div>

